<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./fontawesome-free-5.11.2-web/css/all.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand mx-5" href="#">RannySoft</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar1">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/services">Services</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Account
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/login">Login</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/register">Register</a>
                            <!-- <a class="dropdown-item" href="#">IT Consulting</a> -->
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </li>
                </ul>

            </div>
        </nav>
        <!-- <div class="container"> -->

        <!-- </div> -->
    </header>
    <!-- ======================================end of first section========================================= -->

    <!-- ================================================begin of second section======================= -->


    <!-- ==============================End of the Third Section=================================== -->

    <!-- ======================================Begining Fourth Section==================== -->

    <div class="container">
        <div class="row">
            <div class="col-md-6 my-5">
                <div class="left bg-white text-black">
                    <h3>Some Awesome Facts</h3>
                    <p>A dull and avoid children was of neighbours on be into could on
                        rationally it the survey monitors alone, leave forward by around
                        a temple. The time which form the explains you which we were
                        had home, years at food, profitable leave assignment manipulate
                        stupid again. have for view news following in and economic are with ran him </p>
                    <button class="btn btn-outline-info">Get Started</button>
                </div>
            </div>

            <div class="col-md-6 my-5">
                <div class="row">
                    <div class="col-sm-6 col-md-6 my-2">
                        <div class=" text-center">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title" style="color: rgb(2, 221, 2)">245</h5>
                                    <p class="card-text">Work Hours.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 my-2">
                        <div class=" text-center">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title" style="color: red">75</h5>
                                    <p class="card-text">Projects.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-md-6 my-2">
                        <div class=" text-center">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title" style="color: rgb(141, 31, 141)">100</h5>
                                    <p class="card-text">Branch.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 my-2">
                        <div class=" text-center">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title" style="color: blue">362</h5>
                                    <p class="card-text">Clients.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- ====================================End of Fourth Section===================================== -->

    <!-- ================================Begining of Fifth section===================================== -->


    <div class="container">
        <h3 class="text-center">We Grow Your Business</h3>
        <div class="row">
            <div class="col-12 col-sm-4 mb-2">
                <div class="card">
                    <i class="fa fa-globe text-size6 my-2"></i>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Branding</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <a href="#" class="text-info">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4 mb-2">
                <div class="card">
                    <i class="fa fa-briefcase text-size7 my-2"></i>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Strategy Planning</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <a href="#" class="text-info">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-4 mb-2">
                <div class="card">
                    <i class="fa fa-bell text-size8 my-2"></i>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Digital Marketing</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                        <a href="#" class="text-info">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- ==============================================End of Fifth Section==================================== -->

    <!-- =========================navbar and footer section================ -->
    <div class="new-nav my-3">

        <nav class="navbar navbar-expand-lg navbar-light bg-light my-3">
            <a class="navbar-brand mx-5" href="#"> <i class="fab fa-twitter"></i> <i class="fab fa-github"></i> <i
                    class="fab fa-instagram"></i> <i class="fab fa-whatsapp"></i>
                <alt="Logo">
            </a>
            <button style="color: #0000" class="outline-info" data-toggle="collapse" data-target="#navbar">
                <span style="color: #0000;" class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto mx-5">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- =================================footer============================== -->

    <div class="row mx-1">
        <div class="col-md">
            <footer class="text-center my-3">
                <p class="colourless">Copyright &copy; 2020 All rights reserved by </p>
                <p style="color: blue">| RannySoft Technologies</p>

            </footer>
        </div>
    </div>


    <script src="./js/jQuery v3.4.1.js"></script>
    <script src="./js/bootstrap.min.js"></script>

</body>

</html>