header{
    height: 110 vh;
    background-color: #201e1e;
    margin-bottom: 40px;
    /* overflow: hidden; */
}

nav{
    /* border: 2px solid rgb(53, 39, 2); */
    /* background-color: transparent; */
    border-bottom: rgb(12, 10, 3);
}

.navbar{
    background-color: #000000;
}


.nav-item .active{
    color: white;
}

.nav-link{
    color: #fafafa;
}
.nav-link:hover{
    color: #fafafa;
}

.navbar-brand{
    color: white;
}

.navbar-brand:hover{
    color: white;
}

.child{
    color: #fafafa;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 100px;
}




.text-size{
    font-size: 40px;
    color: red;
    padding-top: 20px;
}

.text-size1{
    font-size: 40px;
    color: yellow;
    padding-top: 20px;
}

.text-size2{
    font-size: 40px;
    color: turquoise;
    padding-top: 20px;
}

.text-size3{
    font-size: 40px;
    color: blueviolet;
    padding-top: 20px;
}

.text-size4{
    font-size: 40px;
    color: lawngreen;
    padding-top: 20px;
}

.text-size5{
    font-size: 40px;
    color: rgb(209, 21, 209);
    padding-top: 20px;
}

.third-section{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 135px;  
}

.img{
    margin-top: 50px;
}

.text-size6{
    font-size: 40px;
    margin-left: 20px;
}

.text-size7{
    font-size: 40px;
    margin-left: 20px;
}

.text-size8{
    font-size: 40px;
    margin-left: 20px;
}

.card{
    box-shadow: 5px 5px 6px #797676;
}

.card-subtitle{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.new-nav .navbar{
    /* border: 0.5px solid rgb(231, 225, 225); */
}

footer{
    display: flex;
    justify-content: center;
}



